@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
   background-color: cornflowerblue;
   padding-top: 15px;
}

.container1 {
    background-color: white;
    height: 440px;
    width: 350px;
    border-radius: 2px;
    padding: 15px;
}

h2 {
    text-align: center;
    color: rgb(209, 211, 213);
}

.insta {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

.input1 {
    padding: 20px 0 10px 0;
    border: none;
    outline: none;
}

input {
    padding: 13px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
   
}

.log {
    margin-top: 6px;
    padding: 7px;
    padding-left: 0;
    padding-right: 0;
    background-color: blue;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.img a {
    color: rgb(36, 36, 51);
    margin-top: 10px;
}

.img .link {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}

.for {
    padding-top: 25px;
}

.for a {
    color: rgb(22, 22, 22);
    transition: all 0.4s ease;
}

.for:hover a {
    color: orangered;
    
}

.foot {
    box-sizing: border-box;
    background-color: white;
    height: 50px;
    margin-top: -10px;
}

.or {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.or h3 {
    position: absolute;
    top: 8px;
    font-size: 19px;
}

.or .line {
    width: 120px;
    border: 1px solid black;
    margin-top: 40px;
}

@media only screen and (max-width: 600px) {
    .container1 {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    .input1,
    .input2 {
        padding: 0 10px;
    }

    .log {
        margin: 0px 10px;
    }

}